@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.cursor{
    cursor: pointer;
    color: white;
    margin-left: 70px;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: 'Oswald', sans-serif !important;    
}

.font{
    font-family: 'Oswald', sans-serif !important;  

    
}
.caixa{
    background-color: rgb(27, 27, 27);
}

.ali{
    height: 70px;
    padding-left: 90px;
   
}
.log{
    padding-left: 90px;
    align-items: stretch;
    font-size: 15px;
    

    
}

.text-decorator-none{
    text-decoration: none;
}