@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.titulo{
    color: violet;
    text-align: center;
    font-family: 'Roboto';
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}